<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8"/>
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/static/x-admin/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" th:href="${#httpServletRequest.getContextPath()+'/static/x-admin/css/font.css'}"/>
    <link rel="stylesheet" th:href="${#httpServletRequest.getContextPath()+'/static/x-admin/css/xadmin.css'}"/>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="${#httpServletRequest.getContextPath()+'/static/x-admin/lib/layui/layui.all.js'}" charset="utf-8"></script>
    <script type="text/javascript" th:src="${#httpServletRequest.getContextPath()+'/static/x-admin/js/xadmin.js'}"></script>
    
    <!--自己写的JS  -->
    <script type="text/javascript" th:src="${#httpServletRequest.getContextPath()+'/static/x-admin/MyJs/PublicFunctions.js'}"></script>
    <script type="text/javascript" th:src="${#httpServletRequest.getContextPath()+'/static/x-admin/MyJs/marchingplayer.js'}"></script>
    
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body class="layui-anim layui-anim-up">
    <div class="x-body">
      <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so" id="searchMarchingPlayer">
          
          <a style="margin-left:20px;" class="layui-icon layui-btn">得分</a><input type="text" name="score" style="margin-left:10px;"  placeholder="得分" autocomplete="off" class="layui-input"/>
          <a style="margin-left:20px;"  class="layui-icon layui-btn">篮板数</a><input type="text" name="backboard" style="margin-left:10px;"  placeholder="篮板数" autocomplete="off" class="layui-input"/>
          <a  style="margin-left:20px;" class="layui-icon layui-btn">盖帽数</a><input type="text" name="blockShot" style="margin-left:10px;"  placeholder="盖帽数" autocomplete="off" class="layui-input"/>
          <a style="margin-left:20px;"  class="layui-icon layui-btn">抢断数</a><input type="text" name="steals" style="margin-left:10px;"  placeholder="抢断数" autocomplete="off" class="layui-input"/>
          <br></br>
         <a style="margin-left:20px;"  class="layui-icon layui-btn">失误数</a><input type="text" name="error" style="margin-left:10px;"  placeholder="失误数" autocomplete="off" class="layui-input"/>
          <a style="margin-left:20px;"  class="layui-icon layui-btn">犯规数</a><input type="text" name="breakRules" style="margin-left:10px;"  placeholder="犯规数" autocomplete="off" class="layui-input"/>
          <a style="margin-left:20px;"  class="layui-icon layui-btn">场次</a><input type="text" name="playRound" style="margin-left:10px;"  placeholder="场次" autocomplete="off" class="layui-input"/>
          <br></br>
          <div style="margin-top:10px;margin-left:20%;">
          	<button class="layui-btn layui-btn-normal" type="button" onclick="searchPlayInfo();"><i class="layui-icon">查询最佳匹配球员 &#xe615;</i></button>
          	<button class="layui-btn layui-btn-normal" type="button" onclick='' title="点击重置查询条件"><i class="layui-icon">清空查询条件 &#xe639;</i></button>
          </div>
        </form>
      </div>
    
      <table class="layui-table">
        <thead>
          <tr>
            <th>序号</th>
            <th>姓名/中文名</th>
            <th>号码</th>
            <th>位置</th>
            <th>得分</th>
            <th>命中率</th>
            <th>失误数</th>
            <th>犯规数</th>
            <th>场次</th>
            <th>盖帽数</th>
            <th>篮板数</th>
            <th>抢断数</th>
            <th>身高</th>
            <th>体重</th>
            </tr>
        </thead>
        <tbody id="memberTbody">
        </tbody>
      </table>
      
     <!--分页-->
        <div id="pageDiv"></div>
     <!--end 分页-->

    </div>
  </body>
</html>